.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    background-color: #D43771;
    margin-top: 40px;
    color: #fff;
    padding: 16px;
}

.footerItem {
    flex: 1;
    text-align: center;
}